Repository faker-ruby/faker, pull requests merged in 2019-03, with the labels that each got.

#1507 Add CLI - Integrate fakerbot 🤖
  Gemfile.lock
  bin/faker
  faker.gemspec
  lib/cli.rb
  lib/cli/README.md
  lib/cli/command.rb
  lib/cli/commands/list.rb
  lib/cli/commands/search.rb
  lib/cli/reflector.rb
  lib/cli/reflectors/list.rb
  lib/cli/reflectors/search.rb
  lib/cli/renderer.rb
  test/cli/commands/test_list.rb
  test/cli/commands/test_search.rb
  test/cli/integration/test_list.rb
  test/cli/integration/test_search.rb
  test/cli/integration/test_version.rb
  test/cli/reflectors/test_list.rb
  test/cli/reflectors/test_search.rb
  test/cli/test_renderer.rb
  test/test_determinism.rb
  test/test_helper.rb
  unreleased_README.md
Labels: Feature Request

#1564 Update League of legends content
  lib/locales/en/league_of_legends.yml
Labels: Update locales

#1567 Fix name_with_middle in Chinese locales
  lib/locales/zh-CN.yml
  lib/locales/zh-TW.yml
  test/test_zh_cn_locale.rb
  test/test_zh_tw_locale.rb
Labels: Bug/Fixes

#1573 Fix data of music albums
  lib/locales/en/music.yml
Labels: Update locales

#1575 Add issues templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: Documentation

#1583 updates to RuPaul
  lib/locales/en/rupaul.yml
Labels: Update locales
