Repository faker-ruby/faker, pull requests merged in 2019-05, with the labels that each got.

#1607 Add Faker::Game with title, genre, and platform generators.
  doc/unreleased/games/game.md
  lib/faker/games/game.rb
  lib/locales/en/game.yml
  test/faker/games/test_game.rb
  unreleased_README.md
Labels: Feature Request

#1612 Update returned example player
  doc/default/esport.md
Labels: Documentation

#1621 Updates classes and hero pool for Heroes of the Storm Locale File
  lib/locales/en/heroes_of_the_storm.yml
Labels: Update locales

#1620 Added Yuumi as a Champion to the League of Legends Locale File.
  lib/locales/en/league_of_legends.yml
Labels: Update locales
