Repository faker-ruby/faker, pull requests merged in 2020-01, with the labels that each got.

#1800 Update diners_club and jcb test cards since they were updated in Stripe docs
  lib/locales/en/stripe.yml
Labels: Bug/Fixes

#1903 fr locale: pokemon's root key should be games
  lib/locales/fr.yml
Labels: Update locales

#1902 fr-ch locale fix: Remove empty string in phone_number formats
  lib/locales/fr-CH.yml
Labels: Update locales

#1900 Use postcode for en-ZA
  lib/locales/en-ZA.yml
  test/test_en_za_locale.rb
Labels: Update locales

#1901 fr-CA locale fix: pokemon's root key should be games
  lib/locales/fr-CA.yml
Labels: Update locales

#1899 Locale root name should be en-NEP
  lib/locales/en-NEP.yml
  test/test_en_nep_locale.rb
Labels: Update locales

#1908 add more colors
  lib/locales/en/color.yml
Labels: Update locales

#1812 Add vat number rule for es-MX
  lib/locales/es-MX.yml
  test/test_es_mx_locale.rb
Labels: Feature Request
